.paragraph,
.normal {
	font-size: var(--body-text-size);
	font-family: "Pixter";
}

.error {
	color: red;
	font-family: "Pixter";
}
.small {
	font-size: var(--body-text-size) - 0.125rem;
	font-family: "Pixter";
}
.warning {
	color: orange;
	font-family: "Pixter";
}

.success {
	color: green;
	font-family: "Pixter";
}

.bold {
	font-family: "PixterDisplay";
}
